  <header >
    <div class="container top">
      <div class="brand">
        <a href="index.html" class="logo" style="text-decoration:none;color:white;">F&P</a>
        <div>
          <div style="font-weight:700">AKfrana (vzorek)</div>
          <div class="muted" style="font-size:13px">advokacie • vymahačství • žaloby</div>
        </div>
      </div>
      <nav>
        <a href="index.html#sluzby">Služby</a>
        <a href="index.html#galerie">Galerie</a>
        <a href="index.html#kontakt">Kontakt</a>
        <a href="about.html">O nás</a>
        <a class="primary" href="index.html#rezervace">Rezervace</a>
      </nav>
    </div>
  </header>